.searchBox {
  margin: 20px;
}

.caseNumber {
  position: relative
}

.body {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}

.button {
  margin: 0 4px;
  letter-spacing: 2px;
}

.buttons {
  margin-bottom: 20px;
}
.pagination {
  margin: 20px 0;
  text-align: center;
}
