.PBSearch {
  transition: all .3s;
  max-height: 0;
  overflow: hidden;
  /*transform: translateY(-100%);*/
}

.PBSearch.show {
  height: 100%;
  max-height: 2000px;
  /*transform: translateY(0);*/
}

.arrow1 {
  text-align: center;
  margin-bottom: 20px;
}

.arrow1 i {
  /*position: absolute;*/
  cursor: pointer;
  background: rgba(0, 0, 0, .4);
  color: #fff;
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
}


/* 侧边搜索样式 */
.pb-stat-search {
  transition: all .3s;
  transform: translateX(100%);
}

.pb-stat-search.show {
  transform: translateX(0);
}

.pb-stat-search .arrow {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: #e9e9e9;
  cursor: pointer;
}

.chart-box {
  position: relative;
  /*overflow: hidden;*/
  margin-right: 20px;
  /*height: 270px !important;*/
  /*margin-top: 25px;*/
  background: #fff;
  /*box-shadow: 0 8px 24px rgba(163,177,191,.35);*/
}

.chart-box .chart-del {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.chart-title {
  position: relative;
}

.chart-title h3 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.chart-title h4 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-top: 15px;
}

.chart-title .toolbox {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.chart-filter {
  position: relative;
  left: -20px;
  display: inline-block;
  text-align: left;
  padding: 5px 20px;
  background: pink;
  cursor: pointer;
}

.chart-filter svg.svg-inline--fa {
  margin: 0;
}

.toolbox span {
  cursor: pointer;
}
.chart-item {
  width: 100%;
  height: 100%;
}


/* 报表选择器样式 */

.report-left {
  width: 30%;
  border-right: 1px solid #e5e5e5;
}

.activeTitle {
  color: #2077FF;
  background-color: #E2EDFF;
  font-weight: bold;
}


/* 报表布局 */
.react-grid-layout {
  position: relative;
}
.react-grid-layout .react-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}
.react-draggable-dragging {
  z-index: 10;
}
.react-grid-item.react-grid-placeholder {
  z-index: 1;
  background: red;
  opacity: .2;
  /*height: 270px!important;*/
}

.time, .make-me-red {
  color: red;
  text-align: center;
}

.activeData td {
  background: red;
  color: #fff;
}

.custom-range .next-range .next-range-mark.next-range-mark-above {
  height: 23px;
}

.rangeWrap {
  flex: 0 0 567px;
  width: 567px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.drilldown {
  border-bottom: 1px solid #2d56eb;
  cursor: pointer;
}

.pbStatChart {
  height: 600px;
}

.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.handsontable .htMiddle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
