.bs-box {
  display: flex;
  flex-direction: row;
  /*height: 300px;*/
}

.bs-box .bs-list {
  flex: 0 0 25%;
  margin-left: 5px;
}

.bs-box .bs-map {
  flex: 0 0 75%;
}
.bs-title {
  background: #ffffff;
  padding: 5px;
}
.bs-list .bs-list-title {
  position: relative;
  cursor: pointer;
  padding: 5px;
  background: #eee;
  z-index: 10;
}
.bs-list .bs-list-body {
  padding: 0 15px;
  transition: all .3s;
  max-height: 500px;
  background: #ffffff;
}
.bs-list-body.hide {
  overflow: hidden;
  max-height: 0;
}
.bs-list-body li {
  padding: 5px;
}
.bs-list-body li:hover, .bs-list-body li.active {
  background: orange;
}
#baseMap {
  height: 100%;
  /*min-height: 500px;*/
}

.codeList {
  padding-left: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.codeList:hover {
  background: #eee;
  cursor: pointer;
}

.codeList.codeActive {
  color: red;
}
