.pbListBox {
  position: fixed;
  top:0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: #eeeeee;
  transform: translateX(100%);
  transition: all .3s;
  box-shadow: 0 0 10px #ccc;
  z-index: 1000;
}

.pbListBox.show {
  transform: translateX(0);
}

.pbListBox-close:hover {
  color: red;
}
.pbListBox .next-table-header {
  padding-right: 0 !important;
}
.pbListBox .next-table-body::-webkit-scrollbar {
  display: none;
}
