.custom-footer .customTimeline {
  position: relative;
  height: 30px;
  margin: 0 15px;
}
.customTimeline > ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.customTimeline > ul li {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3080fe;
  cursor: pointer;
}
.customTimeline > ul li:nth-last-child(1) {
  right: 0;
}
.customTimeline:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
  background: #dcdee3;
}

.owner-num  li {
  flex: 0 0 33%;
}

.peer-num li {
  display: inline-block;
  width: 33%;
}
