.container {
  letter-spacing: 2px;
  padding: 20px;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #ccc;
}

.button {
  margin: 0 8px;
  letter-spacing: 2px
}

.table {
  margin: 20px 0;
  //min-height: 463px
}

.pagination {
  text-align: center;
  margin-bottom: 20px
}

.title {
  font-size: 18px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
