.bbFullIceTable {
  .next-table-lock-left {
    .next-table-header-inner {
      background: #f5f5f5;
    }
  }
  thead > tr {
    height: 70px;
    th {
      background: #f5f5f5;
    }
  }
   table {
     font-size: 12px !important;
     height: 400px;
     color: #666;
     .next-table-row {
       background: #f5f5f5 !important;
       &.hovered {
         background: #e0e0e0 !important;
       }
     }
  }
  th {
    position: relative;
    & > div {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 0 !important;
      font-size: 14px;
      color: #666666;
      font-weight: 700;
    }
  }
  .cellHeight {
    //white-space: nowrap;
    //overflow: hidden;
    //text-overflow: ellipsis;
    height: 50px;
  }

  .cellHeight > div {
    display: -webkit-box;
    padding: 0;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  //.next-table-body::-webkit-scrollbar {
  //  display: none;
  //}
}
