.CaseEvent.container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.CaseEvent .card {
  width: 100%;
  color: $color-black;
  //height: 592px;
  height: 286px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  background-color: white;
}
.CaseEvent .title {
  margin-top: 0;
  border-left: 5px solid $color-brand1-9;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  & > span {
    font-size: 14px;
    float: right;
  }
}
.CaseEvent .content {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  & > .no-event {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #A0A2AD;
    justify-content: center;
  }
}
.CaseEvent .item {
  width: 25%;
  height: 24px;
  padding: 0 4px;
  box-sizing: border-box;
  line-height: 24px;
}
.CaseEvent .itemTitle {
  border: 1px dashed $color-brand1-9;
  cursor: pointer;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  border-radius: 12px;
  text-overflow: ellipsis;
  background-color: $color-brand1-1;
}
.CaseEvent .count {
  color: $color-error-3;
}
