@charset "UTF-8";
.pb-analyze{
  .container-block {
    margin-bottom: 15px;
  }
  .next-loading-tip {
    top: 200px;
  }
}
.infinite-scroll-grid {
  .body-grid {
    width: 100%;
    border: 1px solid #e0e0e0;
  }

  .even-row,
  .odd-row {
    border-bottom: 1px solid #e0e0e0;
  }
  .odd-row {
    background-color: #fafafa;
  }

  .cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.5em;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  .centered-cell {
    align-items: center;
    text-align: center;
  }

  .letter-cell {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
  }

  .no-cells {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #bdbdbd;
  }
}


.contextMenu {
    position: fixed;
    background: white;
    box-shadow: 0px 2px 10px #999999;
    z-index: 999999;

    &--option {
        padding: 6px 50px 5px 10px;
        min-width: 160px;
        cursor: default;
        font-size: 12px;
        &:hover {
            background: linear-gradient(to top, #555, #333);
            color: white;
        }

        &:active {
            color: #e9e9e9;
            background: linear-gradient(to top, #555, #444);
        }

        &__disabled {
            color: #999999;
            pointer-events: none;
        }
    }

    &--separator {
        width: 100%;
        height: 1px;
        background: #CCCCCC;
        margin: 0 0 0 0;
    }
}

.mySearch .next-tag.next-tag-closable {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
