.GridRow {
  position: relative;
  display: flex;
  flex-direction: row;
}
.GridColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.LeftSideGridContainer {
  flex: 0 0 75px;
  z-index: 10;
}

.LeftSideGrid {
  overflow: hidden !important;
}
.HeaderGrid {
  width: 100%;
  overflow: hidden !important;
}
.BodyGrid {
  width: 100%;
}

.evenRow {
}
.oddRow {
  background-color: #e0e0e0 !important;
}
.selectRow {
  background-color: green;
}
.redRow{
  height: 40px;
  width: 50px;
  background-color: rgb(244, 67, 54);
}
.greenRow{
  height: 40px;
  width: 50px;
  background-color: rgb(76, 175, 80);
}
.cell,
.headerCell,
.leftCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 .5em;
}
.headerCell,
.leftCell {
  font-weight: bold;
}

.ReactVirtualized__Table__headerRow {
  border-bottom: 1px solid #ccc;
}

.ReactVirtualized__Table__headerRow, .ReactVirtualized__Table__headerColumn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  white-space: normal;
  text-align: center;

}

.ReactVirtualized__Table__rowColumn {
  text-align: center;
  white-space: normal;
  text-overflow: initial;
  word-wrap:break-word;
  font-size: 12px;
  /*flex: 0 0 auto !important;*/
}

.ReactVirtualized__Table__rowColumn:nth-child(4), .ReactVirtualized__Table__rowColumn:nth-child(7) {
  overflow: initial !important;
}
.ReactVirtualized__Table__row .ReactVirtualized__Table__rowColumn:nth-child(14) {
  text-align: right;
  margin-right: 5px;
}

.ReactVirtualized__Table__rowColumn .num-box:hover i {
  display: inline-block !important;
  visibility: visible !important;
  cursor: pointer;
}
.ReactVirtualized__Table__row .ReactVirtualized__Table__rowColumn:nth-child(15) {
  text-align: left;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 499 !important;
  background: #eeeeee;
}

#windowScroller, #windowScrollerTable, #windowScrollerTable2 {
  position: relative;
  letter-spacing: normal;
}
#windowScrollerTable .ReactVirtualized__Grid.ReactVirtualized__Table__Grid::-webkit-scrollbar, #windowScrollerTable2 .ReactVirtualized__Grid.ReactVirtualized__Table__Grid::-webkit-scrollbar {
  display: none !important;
}

.miniTimeline {
  width: 100px;
  height: 400px;
  position: absolute;
  top: 0;
  left: -120px;
  /*border: 1px solid #000;*/
}
.miniTimelineFixed {
  width: 100px;
  height: 400px;
  position: fixed;
  top: 0;
  left: 120px;
}

.myTimeLine {
  position: absolute;
  width: 10px;
  height: 400px;
  top: 0;
  right: -10px;
}

.myTimeLine .startCircular {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.myTimeLine .endCircular {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: red;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.endCircular.noEvent, .startCircular.noEvent {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #a59f9f;
  height: 1px;
}

.myTimeLine .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #a59f9f;
}

.numberLabeler {
  position: fixed;
  width: 40%;
  height: 100%;
  overflow-y: auto;
  top: 0;
  right: 0;
  background: #ffffff;
  z-index: 1000;
  padding: 30px 20px;
  border-left: 1px solid #eee;
  margin-right: -100%;
  transition: all .3s;
  box-shadow: -2px 0 10px rgba(0, 0, 0, .2);
}
.numberLabeler.show {
  margin-right: 0;
}

.numberLabeler-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.chartCard {
  margin-top: 20px;
  border: 1px solid #eee;
  /*box-shadow: 0 0 10px #ccc;*/
}

.numA {
  background-color: rgb(198, 255, 255);
}
.numB {
  background-color: rgb(255, 234, 204);
}

.p-absolute {
  position: absolute;
  right: 15px;
  z-index: 499 !important;
}

.p-fixed {
  position: fixed;
  top: 5px;
  right: 30px;
  z-index: 499 !important;
}

/*#top {*/
  /*position: fixed;*/
  /*right: 10px;*/
  /*bottom: 0;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*cursor: pointer;*/
  /*opacity: 0;*/
  /*transition: all .3s;*/
  /*z-index: -1;*/
  /*background: #eee;*/
  /*-webkit-border-radius: 50%;*/
  /*-moz-border-radius: 50%;*/
  /*border-radius: 50%;*/
/*}*/
/*#top.show {*/
  /*opacity: 1;*/
  /*bottom: 20px;*/
  /*z-index: 999;*/
/*}*/


/*#top svg {*/
  /*padding: 5px;*/
/*}*/

.ctLocText {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.PBSearch .container-block {
  padding-top: 0 !important;
}


